/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

html,
body {
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  min-width: 355px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

.sectionTitleHide {
  display: none;
}

#impactSection {
  background: radial-gradient(#BEBEBE, #23232B);
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(14, 1fr);
  height: 850px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 180px;
}
#impactSection #hamburgWrapper {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 40px;
  justify-self: start;
  align-self: end;
  z-index: 100;
  margin-bottom: 5px;
}
#impactSection #hamburgWrapper .menu {
  width: 45px;
  height: 0px;
  background-color: #fff;
  border-radius: 1.5px;
  border: 2.5px solid #fff;
}
#impactSection #hamburgWrapper #hamburgMid {
  margin-top: 14px;
  opacity: 1;
}
#impactSection #hamburgWrapper #hamburgBot {
  margin-top: 14px;
}
#impactSection #impactLogo {
  grid-column: 7/9;
  grid-row: 2/3;
  height: 60px;
  justify-self: end;
  z-index: 500;
}
#impactSection #heroImage {
  grid-column: 1/10;
  grid-row: 1/13;
  justify-self: center;
  margin-left: 230px;
}
#impactSection #impactStatement {
  grid-column: 2/9;
  grid-row: 13/14;
  text-align: center;
  color: #fff;
  margin-top: -200px;
}
#impactSection #impactStatement h3 {
  font-size: 3.25em;
  margin-bottom: -10px;
}
#impactSection #impactStatement h2 {
  margin-top: -10px;
  font-size: 6.5em;
  margin-bottom: -10px;
}
#impactSection #impactStatement p {
  font-size: 1.5em;
  line-height: 40px;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  margin-bottom: -21px;
  width: 250px;
  margin: -10px auto 0px auto;
}
#impactSection #navMenu {
  position: absolute;
  top: 0;
  left: -250px;
  background: #fff;
  height: 500px;
  width: 250px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#impactSection #navMenu ul {
  height: 100%;
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-template-rows: 20px repeat(6, 1fr) 5px;
  padding: 0px;
  margin: 0px;
}
#impactSection #navMenu ul li {
  list-style-type: none;
  text-align: center;
  grid-column: 2/3;
  font-size: 1.75em;
  padding-top: 23px;
}
#impactSection #navMenu ul li a {
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(#000, #000);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}
#impactSection #navMenu ul li a:hover,
#impactSection #navMenu ul li a:focus,
#impactSection #navMenu ul li a:active {
  background-size: 100% 0.15em;
}

.navHome {
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: 0.5px solid #e9e9e9;
}

.navMen {
  grid-row-start: 4;
  grid-row-end: 5;
  border-top: 0.5px solid #e9e9e9;
}

.navWomen {
  grid-row-start: 5;
  grid-row-end: 6;
  border-top: 0.5px solid #e9e9e9;
}

.navKids {
  grid-row-start: 6;
  grid-row-end: 7;
  border-top: 0.5px solid #e9e9e9;
}

.navContact {
  grid-row-start: 7;
  grid-row-end: 8;
  border-top: 0.5px solid #e9e9e9;
}

#aboutSection {
  background-color: #fff;
  width: 100%;
  height: 1200px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(18, 1fr);
  align-items: center;
  justify-items: center;
  color: #4E4E4E;
}
#aboutSection #aboutTitle {
  font-size: 5em;
  text-align: center;
  grid-column: 3/9;
  grid-row: 2/3;
  margin-top: 5px;
}
#aboutSection #aboutInfo {
  grid-column: 2/10;
  grid-row: 3/11;
  align-self: start;
  margin-top: -40px;
  width: 300px;
}
#aboutSection #aboutInfo #introAboutInfo {
  font-size: 1.75em;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: -10px;
}
#aboutSection #aboutInfo #bodyAboutInfo {
  width: 100%;
  font-size: 1.6em;
  text-align: center;
  margin-top: -20px;
  line-height: 40px;
}
#aboutSection #learnMore {
  grid-column: 2/10;
  grid-row: 10/12;
  align-self: end;
  width: 270px;
  height: 80px;
  border: none;
  border-radius: 20px;
  font: 14px "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #757575 0%, #757575 50%, #2A2A32 50%, #2A2A32 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: background-position cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}
#aboutSection #learnMore:hover {
  background-position: bottom left;
}
#aboutSection #tealShoesAboutImage {
  grid-row: 12/19;
  grid-column: 1/11;
  align-self: end;
  justify-self: center;
  margin-left: -60px;
}

#featuresSection {
  width: 100%;
  height: 1200px;
  background-color: #ECEDEF;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(17, 1fr);
  color: #4E4E4E;
}
#featuresSection #featuresTitle {
  font-size: 5em;
  text-align: center;
  grid-column: 3/9;
  grid-row: 2/4;
  margin-top: 5px;
  justify-self: center;
}
#featuresSection #featuresList {
  grid-row: 5/7;
  grid-column: 3/9;
  width: 200px;
  list-style-image: url("../images/check.png");
  font-size: 1.75em;
  padding-left: 20px;
  margin-top: -100px;
  justify-self: center;
}
#featuresSection #featuresList li {
  margin: 20px 0;
}
#featuresSection #modelViewer {
  grid-row: 10/16;
  grid-column: 1/11;
  justify-self: center;
  height: 100%;
  width: 100%;
}
#featuresSection #modelViewer .Hotspot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fcfcfc;
  opacity: 0.3;
  border: 2px solid black;
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}
#featuresSection #modelViewer .Hotspot .HotspotAnnotation {
  visibility: hidden;
}
#featuresSection #modelViewer .Hotspot:hover {
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: 0.5s ease;
}
#featuresSection #modelViewer .Hotspot:hover .HotspotAnnotation {
  visibility: hidden;
}
#featuresSection #featuresLogo {
  grid-column: 8/10;
  grid-row: 16/17;
  height: 5em;
  align-self: end;
  z-index: 500;
}

/*@media (min-width: 1000px) {
    *, img, div {
        display: none;
    }
}*//*# sourceMappingURL=main.css.map */